.header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 46px 0;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
}