<div class="container">
    <div class="episodes-top">
        <h2 class="episodes-h2">
            Latest episodes
        </h2>
        <button class="btn">View all episodes</button>
    </div>

    <div class="episodes-main">
        <div class="episcodes__blocks">
            <div class="episode-block">
                <img src="../images/episode-3.webp" alt="episode" class="episode-img">
                <div class="episode-text">
                    <button class="episode-tag">Gear</button>
                    <div class="episode-nomber">Episode 3</div>
                    <h2 class="episode-h2">Should you get<br> outboard audio gear?</h2>
                    <p class="episode-p">Stop rolling with those default settings on your mic. These small tweaks will
                        take you from sounding good to great.</p>
                    <button class="btn episode-btn">View Episode Details</button>
                </div>
            </div>

            <div class="episode-block">
                <img src="../images/episode-2.webp" alt="episode" class="episode-img">
                <div class="episode-text">
                    <button class="episode-tag">Tips & Tricks</button>
                    <div class="episode-nomber">Episode 2</div>
                    <h2 class="episode-h2">Mic tricks to take<br> you to the next level</h2>
                    <p class="episode-p">Is hardware really worth it when it comes to podcasting? The answer is...it
                        depends. Here’s our reasons on why you might want to consider picking something up.</p>
                    <button class="btn episode-btn">View Episode Details</button>
                </div>
            </div>

            <div class="episode-block">
                <img src="../images/episode-1.webp" alt="episode" class="episode-img">
                <div class="episode-text">
                    <button class="episode-tag">Gear</button>
                    <div class="episode-nomber">Episode 1</div>
                    <h2 class="episode-h2">The best microphone under $200</h2>
                    <p class="episode-p">With so many microphones on the market, how are you supposed to know what’s the
                        best? Take a look at our top picks.</p>
                    <button class="btn episode-btn">View Episode Details</button>
                </div>
            </div>
        </div>
    </div>
</div>