<div class="container">
    <main class="main">
        <div class="header-podcast">
            <img src="./images/header-podcast.webp" alt="Jacob">
        </div>

        <div class="header-text">
            <h1>Take your podcast to the <div class="h1-text">
                    <div class="text-underline">next</div>
                    <div class="text-bold">level</div>
                </div>
            </h1>

            <div class="listen-on">
                <p>Listen on</p>
                <ul class="listen-list">
                    <li class="listen-item"><a href="#"><img src="../images/spotify.svg" alt=""></a></li>
                    <li class="listen-item"><a href="#"><img src="../images/pinterest.svg" alt=""></a></li>
                    <li class="listen-item"><a href="#"><img src="../images/cloud.svg" alt=""></a></li>
                    <li class="listen-item"><a href="#"><img src="../images/radio-1.svg" alt=""></a></li>
                    <li class="listen-item"><a href="#"><img src="../images/radio-2.svg" alt=""></a></li>
                </ul>
            </div>
        </div>
    </main>
</div>